<% if @football_leagues.empty? %>
    <%= "You have no Leagues, please click Add to create a league" %>
<% else %>
  <% @football_leagues.each do |league| %>
    <%= link_to league.name, user_football_league_path(@user, league) %>
  <% end %>
<% end %>
<div class="btn-group">
  <%= link_to "Add", new_user_football_league_path, :class => "btn" %>
  <%= link_to "Calculate", calculate_index_path, :class => "btn" %>
</div>
