<!-- <h1>Welcome to the Fantasy Sports Calculator!</h1> -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item" id="football-slide"><div id="football-slide-inner"><h1>Welcome to the Fantasy Sports Calculator</h1></div></div>
    <div class="item" id="basketball-slide"><div id="basketball-slide-inner"><h1>No matter where your leagues are or what the rules are, get your scores here!</h1></div></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>