<% if @stats.has_key?("error") %>
  <p><%= @stats["error"] %></p>
<% else %>
  <%= render "calculate-stats-tables" %>
<% end %>
<div class="btn-group">
  <%= link_to "Back to player select", calculate_index_path, :class => "btn" %>
  <%= link_to "Back to profile", user_path(@user), :class => "btn" %>
</div>