/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #user_nav{
  color: white;
 }

 table{
  text-align: center;
 }

 ul{
  list-style: none;
 }

 thead{
  text-align: center;
 }

 #profile-img{
  float: left;
 }

 #player-info{
  float: left;
 }

 .profile-text{
  text-align: center;
 }

 .league-index-text{
  text-align: center;
 }

 #league-index-btns{
  margin-top: 10px;
 }

 #calculate-text{
  text-align: center;
 }

 strong{
  font-size: 20px;
 }

 #score-list{
  margin-top: 5px;
 }

 #football-slide{
  text-align: center;
  color: white;
  background-image: url(/assets/football-field.jpg);
  height: 500px;
 }

 #football-slide-inner{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
 }

 #basketball-slide{
  text-align: right;
  color: white;
  background-image: url(/assets/basketball.jpg);
  height: 500px;
 }

 #basketball-slide-inner{
  width: 30%;
  float: right;
  padding-right: 30px;
 }

 #myCarousel{
  margin-top: -20px;
 }

 #league-list{
  text-align: center;
 }