<div class="row-fluid" id="profile">
  <img src="<%= @team.photo %>" data-src="holder.js/300x200" class="span3">
  <img src="<%= @opposing_team.photo %>" data-src="holder.js/300x200" class="span3">
</div>
<%= @stats %>